body, html, header {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a {
    color: #C9135C;
    font-size: 20px;
    text-decoration: none;
    margin: 24px 0 24px 0;
    line-height: 20px;
}

a:hover {
    opacity: 0.6;
}

#designWorkBackground img {
    max-height: 83%;
    max-width: 100%;
}

#gameDesignBackground img {
    max-height: 83%;
    max-width: 100%;
}

#artBackground img {
    max-height: 83%;
    max-width: 100%;
}

/* HEADER */
header {
    overflow: hidden;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
    height: 400px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    background: url("/images/header_waves.svg") #00bcd4 no-repeat left top; /* Image isnt showing.*/
    background-size: 100%;
    background-position: 0 0;
}

#navside {
    display: none;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

#headerContainerFull {
    width: 100%;
    max-width: 1024px;
    height: 400px;      /* Needs to match header's height*/
    margin-left: calc(50% - 512px);
    margin-right: calc(50% - 543px);
    margin-top: 0px;
    position: relative;
    background-image: imageurl("/");
    overflow: hidden;
}

#collapsedBackground {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #00bcd4;
}

#headerContainerCollapsed {
    width: 100%;
    max-width: 1024px;
    height: 100px;      /* Needs to match header"s height*/
    margin-left: calc(50% - 512px);
    margin-right: calc(50% - 543px);
    position: fixed;
    background-color: #00bcd4;
    overflow: hidden;
}

#collapsedContainer {
    max-width: 1024px;
    height: 100px;
}

#iconContainer {
    position:absolute;
    right:0;
    margin-top: 40px;
}

.iconsHeader{
    height: 32px;
    width: 32px;
    margin-left: 16px;
}

#logoContainer {
    position: absolute;
    bottom: 0px;
}

#collapsedLogoContainer {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
}

#logo {
    font-family: "Lobster Two", sans-serif;
    font-size: 60px;
    color: white;
    opacity: 1.0;
    display: inline;
}

#sub-logo {
    font-family: "Roboto", "sans-serif";
    font-size: 24;
    color: white;
    opacity: 1.0;
    margin-top: 20px;
    margin-bottom: 40px;
    letter-spacing: 0.3px;
}

#navBar {
    display: inline;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-bottom: 40px;
}

#navBarCollapsed {
    display: inline;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-bottom: 0px;
}

.primaryNav {
    display: inline;
    margin-left: 24px;
    float: right;
    opacity: 1.0;
}

.primaryNavItems {
    color: white;
}

.primaryNavItems:hover {
    font-size: 24px;
    font-weight: bold;
    opacity: 1.0;
}

/* MAIN */
#whiteBackground {
    background-color:#FFFFFF;
    width: 100%;
    overflow: auto;
}
#gameDesignBackground {
    clear: both;        /* Need otherwise unless each row above is filled, project wont start on left, try commenting out to see what I mean.*/
    background-color:#EDEDED;
    width: 100%;
    overflow:auto;
}

.sectionHead {
    font-weight: lighter;
    font-size: 26px;
    font-family: "Roboto", "sans-serif";
    color: black;
    opacity: 0.3;
    margin: 0 0 24px 0;
}
.container {
    /*    background-color: blue;*/ /*can turn on if need to see*/
    max-width: 1055px;
    width: 100%;
    margin-left: calc(50% - 512px);
    margin-right: calc(50% - 543px);
    padding-top: 72px;
    padding-bottom: 72px;
    overflow: auto;
}

.projects{
    /*    background-color: green;*/
    width: calc(33.33% - 38px);
    float: left;
    margin-right: 38px;
    margin-bottom: 30px;
    overflow: auto;
}

.projects:hover {
    opacity: 0.7;
}

.projectTitle {
    color: #FF4081;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    margin: 20px 0 8px 0;
    font-weight: 700;
}

.imageCaption {
    color: black;
    opacity: 0.5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
}

.descText {
    color: black;
    opacity: 0.7;
    margin: 0;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 160px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
    bottom: 32px;
    right: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


@media only screen and (max-width: 1200px){
    header {
        height: 300px;
    }

    #headerContainerFull {
        width: calc(100% - 128px);
        height: 300px;
        margin-left: 64px;
        margin-right: 64px;
    }

    #headerContainerCollapsed {
        width: calc(100% - 128px);
        margin-left: 64px;
        margin-right: 64px;
    }
    .container {
        width: calc(100% - 128px);
        margin-left: 64px;
        margin-right: 64px;
    }

    /*SMALL Text Styling*/
    a {
        font-size: 16px;
    }
    #logo {
        font-size: 36px;
    }
    #sub-logo {
        font-size: 16px;
    }
    .primaryNavItems:hover {
        font-size: 18px;
    }
    h1 {
        font-size: 46px;
    }
    sH1_large {
        font-size: 16px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 22px;
    }
    .sectionHead {
        font-size: 24px;
    }
    .projectTitle {
        font-size: 20px;
    }
    .descText {
        font-size: 14px;
    }
    .imageCaption {
        font-size: 12px;
    }
}
@media only screen and (max-width: 800px){
    header {
        height: 250px;
    }

    #headerContainerFull {
        max-width: 800px;
        height: 250px;
    }
    #headerContainerCollapsed{
        max-width: 800px;
    }

    .container {
        width: calc(100% - 96px);
        margin-left: 48px;
        margin-right: 48px;
    }
    .projects{
        width: calc(50% - 38px);
    }
}
@media only screen and (max-width: 450px){
    .projects{
        width: calc(100% - 38px);
    }
}

/* Footer */
#backToTopContainer {
    clear: both;
    background-color: #C5C5C5;
    height: 120px;
    width: 100%;
    /*    position: absolute;*/
}

#backToTop {
    margin-left: calc(50% - 512px);
    margin-right: calc(50% - 543px);
    position: relative;
    top: 45%;
}

#footerContainer {
    background-color: #C51162;
    height: 80px;
    width: 100%;
    /*    position: absolute;*/
}

#footer {
    margin-left: calc(50% - 512px);
    margin-right: calc(50% - 543px);
    position: relative;
    top: 40%;
}

#copyright {
    color: white;
    margin-top: 0;
    text-align: center;
    opacity: 1.0;
}

/* TYPOGRAPHY */
h1 {
    font-family: "Roboto Slab", sans-serif;
    color: #018CB1;
    font-weight: bold;
    font-size: 44px;
    line-height: 48px;
    margin: 24px 0 0 0;

}

.sH1_large {
    font-family: "Roboto Slab", sans-serif;
    color: #018CB1;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.7;
    line-height: 20px;
    margin: 16px 0 40px 0;
}

h2 {
    font-family: "Roboto Slab", sans-serif;
    color: #018CB1;
    font-weight: bold;
    font-size: 36px;
    opacity: 0.8;
    line-height: 40px;
    margin: 0 0 24px 0;
}

h3 {
    font-family: "Roboto Slab", sans-serif;
    color: #018CB1;
    font-weight: bold;
    font-size: 26px;
    opacity: 0.7;
    line-height: 40px;
    margin: 40px 0 18px 0;
}

h4 {
    font-family: "Roboto Slab", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.6;
    margin: 32px 0 24px 0;
}

p {
    font-size: 17px;
    opacity: 0.7;
    margin-top: 0;
}

li {
    font-size: 17px;
    opacity: 0.7;
    margin-bottom: 12px;
}

ul {
  margin-bottom: 32px;
}

/* PROJECTS */
.projectwhite {
    background-color: white;
}

.projectwhite .container {
    background-color: white;
}

.projectgray {
    background-color: #EDEDED;
}

.projectgray .container {
    background-color: #EDEDED;
}

.projectblue {
    background-color: #D9EDF2;
}

.projectblue .container {
    background-color: #D9EDF2;
}

.row {
    display: block;
    clear: both;
    margin: 32px 0 16px 0;
}

.third {
    width: calc(33.33% - 20px);
    display: inline-block;
    /* background-color: yellow; */
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0;
}

.twothird {
    width: calc(66.66% - 20px);
    display: inline-block;
    /* background-color: orange; */
    margin: 0 0 0 35px;
    vertical-align: top;
}

.half {
    width: calc(50% - 24px);
    display: inline-block;
    margin: 0 20px 0 0px;
    vertical-align: top;
}

.callout {
    background: #D9EDF2;
    padding: 18px 24px 4px 24px;
    margin: 32px 0 0 0;
    font-size: 18px;
}

button {
    background-color: #FF4081;
    color: white;
    border-radius: 5px;
    padding: 12px 32px 12px 32px;
    border: 0px;
    font-size: 18px;
    margin-top: 24px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

button:hover {
    opacity: 0.8;
}



.projectimg {
    width: 100%;
}

.nextproject {
    margin-top: 64px;
    text-align: right;
}

/*CONTACT PAGE*/
form {
    margin: 0 auot;
    width: 100%;
}

form div {
    margin-top: 1em;
}

input, textarea {
    font: 13px "Lato", sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
}

input {
    height: 3em;
    padding: 0 1em;
}

textarea {
    height: 91px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1em 1em;
    resize: vertical;
}

#content {
    position: relative;
    overflow-x: hidden;
}

.contactbox {
    width: 80%;
    margin: 0 auto;
    padding: 72px 0;
    height: 20em;
}

.findme {
    width: 1044px;
    height: 100%;
    position: relative;
}

#findMeAtContainer {
    position:absolute;
    left:0;
}

.iconsContact {
    height: 32px;
    width: 32px;
    margin-right: 18px;
}

#aboutbox {
    min-height: 100%;
}

#aboutimg {
    width: 33.3%;
    float: left;
}

#caropic {
    width: 100%;
}

#abouttxt {
    width: calc(66.6% - 32px);
    float: left;
    height: 100%;
    margin-left: 32px;
}

#artBackground {
    clear: both;        /* Need otherwise unless each row above is filled, project wont start on left, try commenting out to see what I mean.*/
    background-color:#FFFFFF;
    width: 100%;
    overflow: auto;
}
